{% extends "layout.njk" %}
{% block title %}Create An Account - Ellcrys{% endblock %}
{% block bodyAttr %}class="registration"{% endblock %}
{% block body %}
{% set form = req.flash("form")[0] or {} %}
{% set error = req.flash("error") %}
{% set field = req.flash("field") %}
{% set msg = req.flash("msg") %}
{% if error.length %}<div class="errorbar">{{ error }}</div>{% endif %}


<nav>
    <div class="logo">
        <img src="/images/logo.svg" />
    </div>
</nav>
<div class="separator"></div>
<div class="text-panel">
    <h3 class="title">RESET PASSWORD</h3>
    {% if not msg.length %}
        <div class="panel">
            <form action="{{req.originalUrl}}" method="post">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control {{req.helpers.eqlThenReturn('email', field, 'input-danger')}}" name="email" id="email" value="" />
                </div>
                <div class="form-group btn-area ">
                    <div><button type="submit" class="btn btn-primary btn-signup">RESET</button></div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="panel text-center">
            {{ msg }}
        </div>
    {% endif %}
</div>

{% endblock %}