{% extends "layout.njk" %}
{% block title %}Create An Account - Ellcrys{% endblock %}
{% block bodyAttr %}class="registration"{% endblock %}
{% block body %}
{% set form = req.flash("form")[0] or {} %}
{% set error = req.flash("error") %}
{% set field = req.flash("field") %}

{% if error.length %}<div class="errorbar {{ req.flash("warn") }}">{{ error | safe }}</div>{% endif %}

<nav>
    <div class="logo">
        <img src="images/logo.svg" />
    </div>
</nav>
<div class="separator"></div>
<div class="text-panel login-panel">
    <h3 class="title">LOG IN</h3>
    <div class="panel">
        <form action="{{req.originalUrl}}" method="post">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control {{req.helpers.eqlThenReturn('email', field, 'input-danger')}}" name="email" id="firstName" value="{{ form.email }}" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control {{req.helpers.eqlThenReturn('password', field, 'input-danger')}}" name="password" id="password" value="" />
                </div>
            </div>
            <div class="form-group btn-area">
                <div class="float-left"><button type="submit" class="btn btn-primary btn-signup">LOG IN</button></div>
                <div class="float-right text-right forgot-pass-link"><a href="/forgot_passsword">Forgot Password?</a></div>
            </div>
            <div class="single-link-area">
                <span class="text-muted">Already have an account?</span> <a href="/signup">Sign Up</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}