{% extends "layout.njk" %}
{% block title %}Reset Password - Ellcrys{% endblock %}
{% block bodyAttr %}class="registration"{% endblock %}
{% block body %}
{% set form = req.flash("form")[0] or {} %}
{% set error = req.flash("error") %}
{% set error2 = req.flash("error2") %}
{% set field = req.flash("field") %}
{% if error.length %}<div class="errorbar">{{ error }}</div>{% endif %}

<nav>
    <div class="logo">
        <img src="/images/logo.svg" />
    </div>
</nav>
<div class="separator"></div>
<div class="text-panel">
    <h3 class="title">SET NEW PASSWORD</h3>
    {% if not msg.length and not error2.length %}
        <div class="panel">
            <form action="{{req.originalUrl}}" method="post">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control {{req.helpers.eqlThenReturn('password', field, 'input-danger')}}" name="password" id="password" value="" />
                </div>
                <div class="form-group btn-area ">
                    <div><button type="submit" class="btn btn-primary btn-signup">UPDATE PASSWORD</button></div>
                </div>
            </form>
        </div>
    {% else %}
        {% if error2.length %}
            <div class="panel text-center alert alert-danger">
                {{ error2[0] or "" }}
            </div>
        {% endif %}
        {% if msg.length %}
            <div class="panel text-center">
                {{ msg }}
                <div class="single-link-area">
                    <span class="text-muted"><a href="/login">LOGIN</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}