Hello {{first_name | capitalize}}, <br /><br /> 

Welcome to Ellcrys! <br /><br />

To get started please confirm your account below: <br /><br />

<a href="https://accounts.ellcrys.co/account/verification/{{confirmation_code}}">https://accounts.ellcrys.co/account/verification/{{confirmation_code}}</a> <br /><br />

Thanks, <br />
The Ellcrys Team