<!DOCTYPE html>
<html>
  <head>
    <title>
    {% block title %}
      {{ title }}
    {% endblock %}
    </title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block styles %}
      <link rel="stylesheet" href="packs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="packs/tether/dist/css/tether.min.css">
      <link rel="stylesheet" href="packs/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="styles/all.css">
    {% endblock %}
  </head>

  <body {% block bodyAttr %}{% endblock %}>
    {% block body %}{% endblock %}

    {% block js %}
    <script src="packs/jquery/dist/jquery.min.js"></script>
    <script src="packs/tether/dist/js/tether.min.js"></script>
    <script src="packs/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
    
    <script src="/js/dependencies/sails.io.js"></script>
  </body>
</html>
